<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mahavira.arcanum.store">

    <application
        android:hardwareAccelerated="true" >
        <activity android:name=".presentation.StoreListActivity" />
        <activity android:name=".presentation.detail.StoreDetailActivity" />
        <receiver android:name=".domain.entity.VisitBroadcastReceiver"  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.INPUT_METHOD_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".domain.entity.AlarmReceiver"/>
    </application>

</manifest>